<template id="navbar-template">
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/" class="nav-item"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/services" class="nav-item"><i class="fas fa-hand-holding-medical"></i> Services</a></li>
            <li><a href="/announcements" class="nav-item"><i class="fas fa-bullhorn"></i> Announcements</a></li>
            <li><a href="/caretaker" class="nav-item"><i class="fas fa-user-nurse"></i> Caretakers</a></li>
            <li><a href="/login.html" class="nav-item"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        </ul>
    </nav>
</template>
